<div class="modal small left-align" id="modal-codigo-generado">
    <div class="modal-content">
        <h3 class="light center-align h4">Código Generado</h3>
        <div class="m-y-1 p-a-2 grey lighten-4 center-align">
            <h3 class="bold">{{codigo}}</h3>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-darken btn-flat ">Cerrar</a>
    </div>
</div>